{% if site.discus-identifier %}
			<div id="disqus_thread" class="article-comments"></div>
			<script>
			(function() {
			var d = document, s = d.createElement('script');
			s.src = '//{{ site.discus-identifier }}.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Disqus tarafından desteklenen <a href="https://disqus.com/?ref_noscript"> yorumları görüntülemek için lütfen JavaScript'i etkinleştirin.</a></noscript>
{% endif %}
